dist
coverage
node_modules

npm-debug.log

.DS_Store

.gitignore
.dockerignore
.eslintignore
.huskyrc
.lintstagedrc
commitlint.config.js

Dockerfile
docker-compose.yml

jest.config.js
.eslintrc.json
README.md
